@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$primary: #26a69a;
$danger: #e91e63;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #212121 !important;
}

body {
	background-color: #eeeeee;
}

.button {
	display: inline-block;
	border: none;
	border-radius: 6px;
	padding: 10px 20px !important;
	background: none;
	font-size: 14px !important;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.primary-button {
	background-color: $primary;
	color: #fafafa !important;

	&:hover {
		background-color: lighten($color: $primary, $amount: 5);
	}
	&:disabled {
		background-color: rgba($color: $primary, $alpha: 0.2);
	}
}

.secondary-button {
	box-shadow: 0 0 0 1px $primary;
	color: $primary !important;
}

.form {
	display: flex;
	flex-direction: column;
	margin: 200px auto;
	border-radius: 6px;
	padding: 20px;
	max-width: 300px;
	background-color: #fafafa;
	box-shadow: 0 0 10px rgba($color: black, $alpha: 0.2);

	h2 {
		margin-bottom: 20px;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		label {
			margin-bottom: 4px;
		}

		.form-error-message {
			margin-top: 4px;
			color: $danger !important;
		}
	}

	.form-help {
		margin-bottom: 20px;

		a {
			color: $primary !important;
		}
	}
}

.input {
	border: solid 1px #e0e0e0;
	border-radius: 6px;
	padding: 10px;
	background: none;
	outline: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: #eeeeee;
	}

	&:focus {
		box-shadow: 0 0 0 2px $primary;

		&:hover {
			background: none;
		}
	}
}

.loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($color: #000, $alpha: 0.9);
}

.spinner:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	height: 60px;
	width: 60px;
	margin-top: -20px;
	margin-left: -20px;
	border: solid 6px transparent;
	border-radius: 50%;
	border-top-color: $primary;
	animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.server-err-box {
	border: solid 1px $danger;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 10px;
	color: $danger !important;
}
